---
layout: gallery
title: Gallery
permalink: /gallery
comments: true
---

<div class="masonry">
  {% for image in site.static_files %}
      {% if image.path contains 'gallery' %}
        <div class="item">
          <img loading="lazy" src="{{ site.CDN_gallery_prefix }}{{ image.path | split: '/' | last }}" alt="image" />
        </div>
      {% endif %}
  {% endfor %}
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script>
	$("img").lazyload({
  placeholder : "images.jpeg", 
  effect: "fadeIn", 
  threshold: -200, 
});</script>
</div>
