---
layout: default
title: Home
---

<h2>公告板：</h2>
{% for b in site.bulletin %}
    <h4>{{ b }}</h4>
{% endfor %}

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

