---
layout: default
title: Home
---

<h2>公告板：</h2>
<h4>仓库链接：<a href="https://github.com/lab530/lab530.github.io">https://github.com/lab530/lab530.github.io</a></h4>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

