body {
    margin: 4px;
    font-family: Helvetica;
}
.masonry {
    column-count: 4;
    column-gap: 0;
}

.item {
    padding: 2px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}
