.masonry{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 7100px;
}

.item{
    position: relative;
    width: 33%;
    padding: 2px;
    box-sizing: border-box;
}

.item img{
    display: block;
    width: 100%;
    height: auto;
}
.item:nth-child(3n+1){
    order: 1;
}
.item:nth-child(3n+2){
    order: 2;
}
.item:nth-child(3n){
    order: 3;
}

