
.bulletin {
    &-table {
        margin: 1em 0;
        border: 0;
    }

    &-tr {
        border: 0;
    }

    &-title {
        font-size: 30px;
        font-weight: 600;
        border: 0;
    }

    &-item {
        font-size: 20px;
        border: 0;
    }
}

